<div class="container p-4">
  <div class="row m-3">
    <div class="col text-left ml-5">
      <h3 class="font-weight-bold ml-5">サービス一覧</h3>
    </div>
    <div class="search_form">
      <%= form_with url: admin_services_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :search, options_for_select([["サービスID","id"], ["サービス名","name"], ["税抜価格","price"]]) %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col text-right">
      <%= link_to "新規登録",new_admin_service_path %>
    </div>
  </div>
  <div class="row m-4">
    <table class="table">
      <thead>
        <tr>
          <th>サービスID</th>
          <th>サービス名</th>
          <th>税抜価格</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
        <tr>
          <td><%= service.id %></td>
          <td><%= link_to service.service_name, admin_service_path(service.id) %></td>
          <td><%= number_with_delimiter(service.price, delimiter: ',') %></td>
          <td>
            <% if service.is_active %>
              <p class="text-secondary font-weight-bold">利用停止</p>
            <% else %>
              <p class="text-success font-weight-bold">利用可能</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>