<div class="container">
  <h3 class="font-weight-bold ml-5">サービス詳細</h3>
  <div class="row m-3">
    <div class="col-6 ml-auto">
      <%= image_tag @service.get_image(400,400), class:"bg-white text-border p-3" %>
    </div>
    <div class="col-6 mr-auto">
      <div class="row bg-white text-border p-2">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th style="width: 30%"></th>
              <td style="width: 70%"></td>
            </tr>
            <tr>
              <th>サービス名</th>
              <td><%= @service.service_name %></td>
            </tr>
            <tr>
              <th>サービス説明</th>
              <td><%= @service.service_introduction %></td>
            </tr>
            <tr>
              <th>提供価格(税抜)</th>
              <td>
                <%= number_with_delimiter(@service.with_tax_price.floor, delimiter: ',') %>
                (<%= number_with_delimiter(@service.price, delimiter: ',') %>) 円
              </td>
            </tr>
            <tr>
              <th>提供ステータス</th>
              <td>
                <% if @service.is_active %>
                  <p class="text-secondary font-weight-bold">利用停止</p>
                <% else %>
                  <p class="text-success font-weight-bold">利用可能</p>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to "編集する",edit_admin_service_path, class:"btn btn-success m-3 py-2 px-4" %>
      </div>
    </div>
  </div>

</div>