<% if customer_signed_in? %>
  <%= form_with url: search_path, class:"d-flex", local: true, method: :get do |f| %>
    <!--入力フォーム-->
    <%= f.text_field :word, class:"form-control mr-2", placeholder:"検索", type: "search" %>
    <div>
    <!--検索対象が複数ある場合はコメントアウト(<% if false %><% end %>)を削除し有効にする(将来対応)-->
    <% if false %>
      <!--検索対象-->
      <%= f.select :range, options_for_select([["サービス名",'Service'], ["検索対象名(任意)",'モデル名']]) %>
      <!--一致条件(任意)-->
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"], ["一致名(画面表示)",'一致名(引数)']]) %>
    <% end %>
    </div>
    <!--検索ボタン-->
    <%= f.submit "検索", class: "btn btn-success" %>
  <% end %>
<% end %>