<div class="container p-4">
  <h3 class="font-weight-bold my-3 ml-5">依頼履歴一覧</h3>
  <div class="row m-2 p-auto">
    <div class="search_form">
      <%= form_with url: admin_root_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :search, options_for_select([["申請日時","created_at"], ["依頼者","address_name"]]) %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row m-auto p-auto">
    <table class="table">
      <thead>
        <tr>
          <th>申請日時</th>
          <th>依頼者</th>
          <th>利用冊数</th>
          <th>申し込みステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
        <tr>
          <th><%= link_to request.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_request_path(request.id) %></th>
          <th><%= request.address_name %></td>
            <% total = 0 %>
            <% request.request_details.each do |request_detail| %>
              <% total += request_detail.amount %>
            <% end %>
          <td><%= total %></td>
          <th><%= request.requests_status_i18n %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>