<div class="container">
  <h2 class="font-weight-bold">サービス一覧(全<%= @services.count %>件)</h2>
  <div class="row-12 p-5 text-center">
    <% @services.each do |service| %>
      <div class=" row item-box mx-auto p-3">
        <div class="col text-right ">
        <%=link_to service_path(service.id) do %>
          <%= image_tag service.image, size: "300x250", class:"text-border" %>
        <% end %>
        </div>
        <div class="col text-left">
        <h4><p><%= link_to service.service_name, service_path(service.id) %></p></h4>
        <p class="font-weight-bold">¥ <%= number_with_delimiter(service.price, delimiter: ',') %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
