<div class="container">
  <div class="row mt-4">
    <h2 class="font-weight-bold">サービス一覧(全<%= @services.count %>件)</h2>
  </div>
  <div class="row p-5 text-center">
    <% @services.each do |service| %>
      <div class=" row item-box m-3">
        <div class="col text-right">
        <%=link_to service_path(service.id) do %>
          <%= image_tag service.image, size: "200x180", class:"text-border" %>
        <% end %>
        </div>
        <div class="col text-left">
          <h5><%= link_to service.service_name, service_path(service.id) %></h5>
          <p class="font-weight-bold">¥ <%= number_with_delimiter(service.price, delimiter: ',') %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
