<div class="container">
  <div class="row mb-2">
    <h2 class="font-weight-bold"><%= @service.service_name %></h2>
  </div>
  <div class="row">
    <div class="col-auto mt-5 mr-5">
      <%= image_tag @service.get_image(300,240), class:"text-border" %>
    </div>
    <div class="col-auto my-auto">
      <div class="row my-2">
        <h4 class="font-weight-bold">詳細</h4>
      </div>
      <div class="row px-3 pt-3 text-border bg-white">
        <p class="font-weight-normal"><%= @service.service_introduction %></p>
      </div>
      <div class="row mt-3">
        <h4 class="font-weight-bold">金額</h4>
      </div>
      <div class="row p-2">
        <p class="font-weight-bold">¥ <%= number_with_delimiter(@service.with_tax_price.floor, delimiter: ',') %>(税込)</p>
      </div>
    <!--ログインしている場合-->
    <% if current_customer %>
      <%= form_with model: @request_list, url: request_lists_path, method: :post do |f| %>
      <div class="row my-2">
        <h4 class="font-weight-bold">リストに追加</h4>
      </div>
      <div class="row my-3">
        <%= f.hidden_field :service_id, :value => @service.id %>
        <p class="font-weight-normal">利用冊数 <%= f.select :amount, *[1..100] %> (最大100冊)</p>
      </div>
      <div class="row mt-3">
        <%= f.submit '依頼リストに入れる', class:"btn btn-success py-1" %>
      </div>
      <% end %>
    <% else %>
     <div>
       <h4 class="font-weight-bold">ログインすると注文が可能になります</h4>
       <p class="font-weight-bold">会員登録がお済みでない方は<%= link_to "こちら", new_customer_registration_path %></p>
     </div>
    <% end %>
    </div>
  </div>
</div>