<div class="container">
  <div class="row mt-4">
    <h2 class="font-weight-bold">依頼リスト</h2>
  </div>
  <div class="row mt-4">
    <table class="table table-bordered" bgcolor="#c0ffc0">
      <thead>
        <tr>
          <th class="font-weight-bold h5">サービス名</th>
          <th class="font-weight-bold h5">利用冊数</th>
          <th class="font-weight-bold h5">単価(税込)</th>
          <th class="font-weight-bold h5 text-center">
            <%= link_to "リストを空にする", destroy_all_request_lists_path, class:"btn btn-sm btn-danger", method: :delete,"data-confirm" => "本当にすべて削除しますか？" %>
          </th>
        </tr>
      </thead>
      <% if current_customer %>
      <tbody>
        <% @request_lists.each do |request_list| %>
        <tr>
          <td><%= request_list.service.service_name %></td>
          <td>
            <%= form_with model: request_list, url: request_list_path(request_list) do |f| %>
              <%= f.select :amount, options_for_select(*[1..1000], request_list.amount) %>冊
              <%= f.submit "変更", class:"btn btn-sm btn-success ml-2", method: :patch %>
            <% end %>
          </td>
          <td><%= number_with_delimiter(request_list.service.with_tax_price, delimiter: ',') %>円</td>
          <td class="text-center"><%= link_to "削除する",request_list_path(request_list.id), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="row mt-5">
    <div class="col-auto text-left">
      <%= link_to "買い物を続ける", services_path, class:"btn btn-primary ml-3" %>
    </div>
    <div class="col text-center">
    <% if @request_lists.any? %>
      <%= link_to "情報入力に進む", new_request_path, class:"btn btn-success" %>
    <% else %>
      <p>データがありません</p></br>
      <p>1件以上の依頼で入力画面に進みます</p>
    <% end %>
    </div>
    <div class="col-auto mx-auto text-right">
      <table class="table table-bordered" bgcolor="#FFFFFF">
        <tbody>
          <th>合計金額</th>
          <td><%= number_with_delimiter(@total_amount, delimiter: ',') %>円</td>
        </tbody>
      </table>
    </div>
  </div>
</div>