<div class="container p-3">
  <h3 class="ml-4">依頼情報確認</h3>
  <div class="row p-1">
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="font-weight-bold h5">サービス名</th>
            <th class="font-weight-bold h5">単価(税込)</th>
            <th class="font-weight-bold h5">利用冊数</th>
          </tr>
        </thead>
        <tbody>
          <% @request_lists.each do |request_list| %>
          <tr>
            <th><%= request_list.service.service_name %></th>
            <td><%= number_with_delimiter(request_list.service.with_tax_price, delimiter: ',') %></td>
            <td><%= request_list.amount %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>送料</th>
            <th><%= @postage %></th>
          </tr>
          <tr>
            <th>商品合計</th>
            <th><%= number_with_delimiter(@total_amount, delimiter: ',') %></th>
          </tr>
          <tr>
            <th>請求金額</th>
            <th><%= number_with_delimiter(@pay_money, delimiter: ',') %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-2 font-weight-bold text-right">支払方法</div>
    <div class="col-10 text-left"><%= @request.pay_method_i18n %></div>
  </div>
  <div class="row p-2">
    <div class="col-2 font-weight-bold text-right">お届け先</div>
    <div class="col-10 text-left"><%= @request.address_no_name %></div>
  </div>
  <div class="text-center p-5">
  <% if @customer.email = 'guest@example.com' %>
    <p><%= link_to "依頼を確定する",thanx_requests_path, class:"btn btn-sm btn-success ml-3" %></p>
  <% else %>
    <%= form_with model: @request, url: requests_path, method: :post do |f| %>
      <%= f.hidden_field :pay_method, :value => @request.pay_method %>
      <%= f.hidden_field :postage, :value => @postage.to_i %>
      <%= f.hidden_field :pay_money, :value => @pay_money.to_i %>
      <%= f.hidden_field :postal_code, :value => @request.postal_code %>
      <%= f.hidden_field :address, :value => @request.address %>
      <%= f.hidden_field :address_name, :value => @request.address_name %>
      <%= f.submit '依頼を確定する', class:"btn btn-success" %>
    <% end %>
  <% end %>
  </div>
</div>