<div class="container">
  <h2 class="font-weight-bold my-3">問い合わせリスト</h2>
  <% if @questions.any? %>
  <div class="search_form mb-3">
    <%= form_with url: admin_questions_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :search, options_for_select([["問い合わせID","id"], ["問い合わせ名","name"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row mx-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>問い合わせID</th>
          <th>問い合わせ名</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= link_to question.questions_name, admin_question_path(question.id) %></td>
          <td>
            <% if question.is_answer %>
              <p class="text-secondary font-weight-bold">回答済み</p>
            <% else %>
              <p class="text-success font-weight-bold">未回答</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div class="row mt-4">
    <div>
      <p>データがありません</p>
    </div>
  </div>
  <% end %>
</div>