<div class="container p-3">
  <h3 class="font-weight-bold my-3 ml-5">依頼履歴詳細</h3>
  <div class="row m-auto p-auto">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>依頼者</th>
          <th><%= link_to @request.address_name, admin_customer_path(@request.customer_id) %></th>
        </tr>
        <tr>
          <th>注文日</th>
          <th><%= @request.created_at.strftime('%Y/%m/%d') %></th>
        </tr>
        <tr>
          <th>配送先</th>
          <th><%= @request.address_no_name %></th>
        </tr>
        <tr>
          <th>支払方法</th>
          <th><%= @request.pay_method_i18n %></th>
        </tr>
        <tr>
          <th>申し込みステータス</th>
          <th>
            <%= form_with model: @request, url: admin_request_path(@request) do |f| %>
              <%= f.select :requests_status, Request.requests_statuses.keys.map { |k| [I18n.t("enums.request.requests_status.#{k}"), k] } %>
              <%= f.submit "更新", class:"btn btn-sm btn-success", method: :patch %>
            <% end %></th>
        </tr>
  <!---------------------------------------------------------------------------------------------->
  <!--各ステータスを更新する申し込みステータスのみ表示させたい場合(将来対応)-->
  <!--コメントアウト(<% if false %><% end %>)を外す-->

  <% if false %>
        <% if @request.requests_status == "waiting" %>
        <tr>
          <th>ステータスの更新</th>
          <th>
            <%= form_with model: @request, url: admin_request_path(@request) do |f| %>
              <%= f.select :requests_status, Request.requests_statuses.slice(:confirmation, :cancel).keys.map { |k| [I18n.t("enums.request.requests_status.#{k}"), k] } %>
              <%= f.submit "更新", class:"btn btn-sm btn-success", method: :patch %>
            <% end %>
          </th>
        </tr>
        <% else %>
        <tr>
          <th>ステータスの更新</th>
          <th>
            <%= form_with model: @request, url: admin_request_path(@request) do |f| %>
              <%= f.select :requests_status, Request.requests_statuses.slice(:cancel).keys.map { |k| [I18n.t("enums.request.requests_status.#{k}"), k] } %>
              <%= f.submit "更新", class:"btn btn-sm btn-success", method: :patch %>
            <% end %>
          </th>
        </tr>
        <% end %>
  <% end %>
  <!---------------------------------------------------------------------------------------------->
      </tbody>
    </table>
  </div>
  <div class="row m-auto p-auto">
    <div class="col-7 m-auto p-auto">
      <table class="table">
        <thead>
          <tr>
            <th>サービス名</th>
            <th>利用冊数</th>
            <th>単価(税込)</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @request_details.each do |request_detail| %>
          <tr>
            <td><%= request_detail.service.service_name %></td>
            <td><%= request_detail.amount %></td>
            <td><%= number_with_delimiter(request_detail.service.with_tax_price, delimiter: ',') %></td>
            <td>
              <%= form_with model: request_detail, url: admin_request_detail_path(request_detail.id) do |f| %>
                <%= f.hidden_field :request_id, :value => request_detail.request_id %>
                <%= f.hidden_field :service_id, :value => request_detail.service_id %>
                <% if request_detail.service.id == 1 %>
                  <%= f.select :storage_status, RequestDetail.storage_statuses.keys.map { |k| [I18n.t("enums.request_detail.storage_status.#{k}"), k] } %>
                  <%= f.hidden_field :sale_status, :value => request_detail.sale_status %>
                  <%= f.hidden_field :disposal_status, :value => request_detail.disposal_status %>
                <% elsif request_detail.service_id == 2 %>
                  <%= f.select :sale_status, RequestDetail.sale_statuses.keys.map { |k| [I18n.t("enums.request_detail.sale_status.#{k}"), k] } %>
                  <%= f.hidden_field :storage_status, :value => request_detail.storage_status %>
                  <%= f.hidden_field :disposal_status, :value => request_detail.disposal_status %>
                <% elsif request_detail.service_id == 3 %>
                  <%= f.select :disposal_status, RequestDetail.disposal_statuses.keys.map { |k| [I18n.t("enums.request_detail.disposal_status.#{k}"), k] } %>
                  <%= f.hidden_field :storage_status, :value => request_detail.storage_status %>
                  <%= f.hidden_field :sale_status, :value => request_detail.sale_status %>
                <% elsif %>
                  <p>ステータスなし</p>
                <% end %>
              </td>
              <td>
                <%= f.submit "更新", class:"btn btn-sm btn-success", method: :patch %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-2 m-auto p-auto"></div>
    <div class="col-3 m-auto p-auto">
      <div class="row text-bottom">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>商品合計</th>
              <td><%= number_with_delimiter(@request.total, delimiter: ',') %>円</td>
            </tr>
            <tr>
              <th>送料</th>
              <td><%= @request.postage %>円</td>
            </tr>
            <tr>
              <th>請求金額合計</th>
              <th><%= number_with_delimiter(@request.pay_money, delimiter: ',') %>円</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "依頼履歴一覧へ戻る",admin_root_path, class:"btn btn-outline-secondary mx-2" %>
    </div>
</div>